Repository GyulyVGC/sniffnet, pull requests merged in 2023-05, with the labels that each got.

#180 Automated build and packaging
  .editorconfig
  .gitattributes
  .github/workflows/package.yml
  .gitignore
  Cargo.toml
  resources/EULA.rtf
  resources/Info.plist
  resources/countries_flags/4x3/zz-home.svg
  resources/countries_flags/4x3/zz-multicast.svg
  resources/countries_flags/4x3/zz-unknown.svg
  resources/icons/sniffnet-linux_1024x1024.png
  resources/icons/sniffnet-linux_128x128.png
  resources/icons/sniffnet-linux_160x160.png
  resources/icons/sniffnet-linux_16x16.png
  resources/icons/sniffnet-linux_192x192.png
  resources/icons/sniffnet-linux_22x22.png
  resources/icons/sniffnet-linux_24x24.png
  resources/icons/sniffnet-linux_256x256.png
  resources/icons/sniffnet-linux_32x32.png
  resources/icons/sniffnet-linux_36x36.png
  resources/icons/sniffnet-linux_384x384.png
  resources/icons/sniffnet-linux_42x42.png
  resources/icons/sniffnet-linux_48x48.png
  resources/icons/sniffnet-linux_512x512.png
  resources/icons/sniffnet-linux_64x64.png
  resources/icons/sniffnet-linux_72x72.png
  resources/icons/sniffnet-linux_8x8.png
  resources/icons/sniffnet-linux_96x96.png
  resources/icons/sniffnet-macos.icns
  resources/icons/sniffnet-windows.ico
  resources/logos/bg_dmg.png
  resources/logos/icon.ico
  resources/logos/icon.png
  resources/logos/icon_macos.png
  resources/logos/icon_window.png
  resources/logos/raw/glyph.svg
  resources/logos/raw/icon_black.png
  resources/logos/raw/icon_white.png
  resources/logos/raw/logo_black.png
  resources/logos/raw/logo_white.png
  resources/logos/stickers/sticker_arrow.png
  resources/logos/stickers/sticker_icon.png
  resources/main.wxs
  resources/sniffnet.desktop
  resources/wrapper.sh
Labels: enhancement

#185 add installation instructions for Arch Linux
  README.md
Labels: documentation

#213 Swedish translation
  resources/fonts/full/subset_characters.txt
  resources/fonts/subset/sarasa-mono-sc-bold.subset.ttf
  resources/fonts/subset/sarasa-mono-sc-regular.subset.ttf
  src/gui/components/radio.rs
  src/gui/pages/initial_page.rs
  src/gui/pages/settings_language_page.rs
  src/translations/translations.rs
  src/translations/translations_2.rs
  src/translations/types/language.rs
  src/utils/countries.rs
Labels: translation

#187 Ru 2
  src/gui/pages/settings_language_page.rs
  src/translations/translations.rs
  src/translations/translations_2.rs
Labels: translation

#191 Additional German translations added
  src/gui/pages/settings_language_page.rs
  src/gui/types/sniffer.rs
  src/translations/translations_2.rs
Labels: translation

#192 Updated TR translations
  src/gui/pages/settings_language_page.rs
  src/translations/translations_2.rs
Labels: translation

#193 Translated the new phrases to Persian
  src/gui/pages/settings_language_page.rs
  src/translations/translations_2.rs
Labels: translation

#203 Spanish update
  src/gui/pages/settings_language_page.rs
  src/translations/translations_2.rs
Labels: translation

#204 Fixed awkward Korean translation
  src/translations/translations.rs
Labels: enhancement, translation

#206 Correction of awkward Korean expressions
  src/translations/types/language.rs
Labels: enhancement, translation

#205 Added Korean translation for additional text
  resources/fonts/full/subset_characters.txt
  resources/fonts/subset/sarasa-mono-sc-bold.subset.ttf
  resources/fonts/subset/sarasa-mono-sc-regular.subset.ttf
  src/gui/pages/settings_language_page.rs
  src/translations/translations_2.rs
Labels: translation

#214 update ZH translation 2
  resources/fonts/full/subset_characters.txt
  resources/fonts/subset/sarasa-mono-sc-bold.subset.ttf
  resources/fonts/subset/sarasa-mono-sc-regular.subset.ttf
  src/gui/pages/settings_language_page.rs
  src/translations/translations_2.rs
Labels: translation

#216 Update Ukrainian translation to v1.2
  resources/fonts/full/subset_characters.txt
  resources/fonts/subset/sarasa-mono-sc-bold.subset.ttf
  resources/fonts/subset/sarasa-mono-sc-regular.subset.ttf
  src/gui/pages/settings_language_page.rs
  src/translations/translations_2.rs
Labels: translation
