Repository GyulyVGC/sniffnet, pull requests merged in 2025-09, with the labels that each got.

#945 Support `Linux SLL` link type
  CHANGELOG.md
  src/gui/sniffer.rs
  src/networking/manage_packets.rs
  src/networking/parse_packets.rs
  src/networking/types/capture_context.rs
  src/networking/types/my_link_type.rs
Labels: enhancement

#909 Update translations_4.rs
  src/translations/translations_4.rs
Labels: translation

#957 Explicitly set a timeout for the packet capture using a channel
  CHANGELOG.md
  src/networking/parse_packets.rs
  src/networking/types/capture_context.rs
Labels: bug, enhancement, Linux

#971 Fix AppImage error with `libpcap`
  resources/packaging/linux/AppImage/sniffnet.yml
Labels: bug, Linux, packaging

#948 fix wrapper script to use relative path on macos
  resources/packaging/macos/wrapper.sh
Labels: enhancement, macOS, packaging
